*{
    padding: 0;
    box-sizing: border-box;
}

.main{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Cenralizado verticalmente */
  
}
 
.container {
    width: 20%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #a5a1a1;
    border-radius: 10px;
    background-color: #ebebeb;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1{
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
}

input[type="text"] {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    cursor: pointer;
   
}
 
button {
    background-color: #0679f5;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}

button:hover {
    background-color: #0056b3;
}
 
#address-info {
    margin-top: 20px;
    text-align: left;
}